<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/account.css">
    <title>Account - StudyGrouper</title>
</head>
<body>
    <nav>
        <div model="courses" class="servers-container">
            <h2 data-th-text="${instructor.getFirst_name()}"/>
            <ul class="servers">
                <li data-th-each="course : ${courses}"><a data-th-text="${course.getGroupID().getGroupName()}" data-th-href="@{/group/instructor/{gID} (gID=${course.getGroupID().getGroupID()})}"></a></li>
            </ul>
        </div>
        <div class="options">
            <h2>Options</h2>
            <ul>
                <li><img src="/assets/plus.png" alt="Add"> <p><a data-th-href="@{/instructor/create-group}">Create Group</a></p></li>
                <li><img src="/assets/person.png" alt="Account"> <p class="selected"><a data-th-href="@{/instructor/account}">Account</a></p></li>
                <li><img src="/assets/home.png" alt="Home"> <p><a data-th-href="@{/instructor/home}">Home</a></p></li>
            </ul>
        </div>
        <div class="logo">
            <h1>StudyGrouper</h1>
        </div>
    </nav>
    <main>
        <section>
        <img src="/assets/person.png" alt="PFP">
        <h1 data-th-text="${instructor.getUsername()}"/>
        <div>
            <a data-th-href="@{/edit-account}"><button>Edit Account</button></a>
            <a href="/home"><button>Logout</button></a>
        </div>
        </section>
    </main>
</body>
</html>

