<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/layout.css">
    <link rel="stylesheet" href="../styles/menu.css">
    <title>Computer Architecture - StudyGrouper</title>
</head>
<body>
    <nav>
        <div class="servers-container">
            <h2>Groups</h2>
            <ul class="servers">
                <li><a href="provider-computer-architecture">Computer Architecture</a></li>
                <li><a href="provider-software-engineering">Software Engineering</a></li>
                <li><a href="provider-biology">Biology</a></li>
                <li><a href="provider-chemistry">Chemistry</a></li>
                <li><a href="provider-physics">Physics</a></li>
            </ul>
        </div>
        <div class="options">
            <h2>Options</h2>
            <ul>
                <li><img src="../assets/plus.png" alt="Add"> <p><a href="/create-group">Create Group</a></p></li>
                <li><img src="../assets/person.png" alt="Account"> <p class="selected"><a href="/provider-account">Account</a></p></li>
            </ul>
        </div>
        <div class="logo">
            <h1>StudyGrouper</h1>
        </div>
    </nav>
    <main>
        <section class="group-title">
            <h1>Computer Architecture</h1>
            <a href="/group-settings"><img src="/assets/gear.png" alt="Settings" class="gear"></a>
        </section>
        <section class="message-container">
            <div class="message">
                <img src="../assets/male.png" alt="User 1">
                <div>
                    <h3>User 1</h3>
                    <p>Ipsum lorum!</p>
                </div>
            </div>
            <div class="message">
                <img src="../assets/female.png" alt="User 2">
                <div>
                    <h3>User 2</h3>
                    <p>Hot crossed buns hot crossed buns Hot crossed buns hot crossed buns Hot crossed buns hot crossed bunsHot crossed buns hot crossed buns Hot crossed buns hot crossed buns Hot crossed buns hot crossed buns Hot crossed buns hot crossed bunsHot crossed buns hot crossed buns</p>
                </div>
            </div>
            <div class="message">
                <img src="../assets/male.png" alt="User 1">
                <div>
                    <h3>User 1</h3>
                    <p>Ipsum lorum!</p>
                </div>
            </div>
            <div class="message">
                <img src="../assets/female.png" alt="User 2">
                <div>
                    <h3>User 2</h3>
                    <p>Hot crossed buns hot crossed buns Hot crossed buns hot crossed buns Hot crossed buns hot crossed bunsHot crossed buns hot crossed buns Hot crossed buns hot crossed buns Hot crossed buns hot crossed buns Hot crossed buns hot crossed bunsHot crossed buns hot crossed buns</p>
                </div>
            </div>
            <div class="message">
                <img src="../assets/male.png" alt="User 1">
                <div>
                    <h3>User 1</h3>
                    <p>Ipsum lorum!</p>
                </div>
            </div>
            <div class="message">
                <img src="../assets/female.png" alt="User 2">
                <div>
                    <h3>User 2</h3>
                    <p>Hot crossed buns hot crossed buns Hot crossed buns hot crossed buns Hot crossed buns hot crossed bunsHot crossed buns hot crossed buns Hot crossed buns hot crossed buns Hot crossed buns hot crossed buns Hot crossed buns hot crossed bunsHot crossed buns hot crossed buns</p>
                </div>
            </div>
            <div class="message">
                <img src="../assets/male.png" alt="User 1">
                <div>
                    <h3>User 1</h3>
                    <p>Ipsum lorum!</p>
                </div>
            </div>
            <div class="message">
                <img src="../assets/female.png" alt="User 2">
                <div>
                    <h3>User 2</h3>
                    <p>Hot crossed buns hot crossed buns Hot crossed buns hot crossed buns Hot crossed buns hot crossed bunsHot crossed buns hot crossed buns Hot crossed buns hot crossed buns Hot crossed buns hot crossed buns Hot crossed buns hot crossed bunsHot crossed buns hot crossed buns</p>
                </div>
            </div>
            <div class="message">
                <img src="../assets/male.png" alt="User 1">
                <div>
                    <h3>User 1</h3>
                    <p>Ipsum lorum!</p>
                </div>
            </div>
            <div class="message">
                <img src="../assets/female.png" alt="User 2">
                <div>
                    <h3>User 2</h3>
                    <p>Hot crossed buns hot crossed buns Hot crossed buns hot crossed buns Hot crossed buns hot crossed bunsHot crossed buns hot crossed buns Hot crossed buns hot crossed buns Hot crossed buns hot crossed buns Hot crossed buns hot crossed bunsHot crossed buns hot crossed buns</p>
                </div>
            </div>
        </section>
        <input type="text" placeholder="Type your message here...">
    </main>
</body>
</html>