<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/settings.css">
    <title>Create Group - StudyGrouper</title>
</head>
<body>
<nav>
    <div model="courses" class="servers-container">
        <h2 data-th-text="${instructor.first_name}"></h2>
        <ul class="servers">
            <li data-th-each="course : ${courses}"><a data-th-text="${course.getGroupID().getGroupName()}" data-th-href="@{/group/instructor/{gID} (gID=${course.getGroupID().getGroupID()})}"></a></li>
        </ul>
    </div>
    <div class="options">
        <h2>Options</h2>
        <ul>
            <li><img src="/assets/plus.png" alt="Add"> <p class="selected"><a data-th-href="@{/instructor/create-group/{uID}(uID=${instructor.uID})}">Create Group</a></p></li>
            <li><img src="/assets/person.png" alt="Account"> <p><a data-th-href="@{/instructor/account}">Account</a></p></li>
            <li><img src="/assets/home.png" alt="Home"> <p><a data-th-href="@{/instructor/home}">Home</a></p></li>
        </ul>
    </div>
    <div class="logo">
        <h1>StudyGrouper</h1>
    </div>
</nav>
<main>
    <h1></h1>
    <section>
        <form action="/instructor/create-group" method="post">
            <div>
                <h2>Group Name</h2>
                <input type="text" name="creatorID" data-th-value="${instructor.uID}" hidden readonly>
                <input type="text" name="groupName" placeholder="Enter group name...">
                <input type="text" name="description" placeholder="Description">
                <input type="text" name="deleted" value="n" hidden readonly>
            </div>
            <div>
                <h2>Meeting Time</h2>
                <input type="time" value="10:00"> - <input type="time" value="12:00"> <p>every</p>
                <select name="" id="">
                    <option value="">Monday</option>
                    <option value="">Tuesday</option>
                    <option value="">Wednesday</option>
                    <option value="">Thursday</option>
                    <option value="">Friday</option>
                    <option value="">Saturday</option>
                    <option value="">Sunday</option>
                </select>
            </div>
            <div>
                <button type="submit" class="create">Create Group</button>
            </div>
        </form>

    </section>
</main>
</body>
</html>