<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/settings.css">
    <title>Group Settings - StudyGrouper</title>
</head>
<body>
    <nav>
        <div model="courses" class="servers-container">
            <h2 data-th-text="${instructor.getFirst_name()}"></h2>
            <ul class="servers">
                <li data-th-each="course : ${courses}"><a data-th-text="${course.getGroupID().getGroupName()}" data-th-href="@{/group/instructor/{gID} (gID=${course.getGroupID().getGroupID()})}"></a></li>
            </ul>
        </div>
        <div class="options">
            <h2>Options</h2>
            <ul>
                <li><img src="/assets/plus.png" alt="Add"> <p><a data-th-href="@{/instructor/create-group}">Create Group</a></p></li>
                <li><img src="/assets/person.png" alt="Account"> <p><a data-th-href="@{/instructor/account}">Account</a></p></li>
                <li><img src="/assets/home.png" alt="Home"> <p><a data-th-href="@{/instructor/home}">Home</a></p></li>
            </ul>
        </div>
        <div class="logo">
            <h1>StudyGrouper</h1>
        </div>
    </nav>
    <main>
        <h1></h1>
        <section>
            <div>
                <form action="/group/update-group" method="post">
                    <h2 data-th-text="${group.groupName}"></h2>
                    Group ID: <input type="text" name="groupID" data-th-value="${group.getGroupID()}" readonly>
                    <input type="text" name="creatorID" data-th-value="${group.getCreatorID().getuID()}" readonly hidden>
                    <br>
                    Group Name: <input type="text" name="groupName" data-th-value="${group.getGroupName()}" placeholder="Group Name">
                    <br>
                    Description: <input type="text" name="description" id="description" data-th-value="${group.getDescription()}" placeholder="Description">
                    <div>
                        <button type="submit" class="create">Save</button>
                    </div>
                </form>

            </div>
            <div>
                <h2>Topic</h2>
                <input type="text" value="Computer Science">
            </div>
            <div>
                <h2>Meeting Time</h2>
                <input type="time" value="10:00"> - <input type="time" value="12:00"> <p>every</p> <select name="" id="">
                    <option value="">Monday</option>
                    <option value="">Tuesday</option>
                    <option value="">Wednesday</option>
                    <option value="">Thursday</option>
                    <option value="">Friday</option>
                    <option value="">Saturday</option>
                    <option value="">Sunday</option>
                </select>
            </div>
            <div>
                <a data-th-href="@{/group/delete/{groupID}(groupID=${group.getGroupID()})}" onclick="return confirm('Are you sure you want to delete this study group?')"><button class="delete">Delete Group</button></a>
            </div>
            <div>
                <a data-th-href="@{/group/statistics/{gid}(gid=${group.getGroupID()})}"><button class="create-account">Click here for statistics</button></a>
            </div>
        </section>
    </main>
</body>
</html>