<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/menu.css">
    <title>Statistics - StudyGrouper</title>
</head>
<body>
    <nav>
        <div model="courses" class="servers-container">
            <h2 data-th-text="${instructor.getFirst_name()}"></h2>
            <ul class="servers">
                <li data-th-each="course : ${courses}"><a data-th-text="${course.getGroupID().getGroupName()}" data-th-href="@{/group/instructor/{gID} (gID=${course.getGroupID().getGroupID()})}"></a></li>
            </ul>
        </div>
        <div class="options">
            <h2>Options</h2>
            <ul>
                <li><img src="/assets/plus.png" alt="Add"> <p><a data-th-href="@{/instructor/create-group}">Create Group</a></p></li>
                <li><img src="/assets/person.png" alt="Account"> <p><a data-th-href="@{/instructor/account}">Account</a></p></li>
                <li><img src="/assets/home.png" alt="Home"> <p><a data-th-href="@{/instructor/home}">Home</a></p></li>
            </ul>
        </div>
        <div class="logo">
            <h1>StudyGrouper</h1>
        </div>
    </nav>
<main>
    <section class="banner">
        <div>
            <h1>Statistics</h1>
            <h4>Here we have a pie chart and bar graph.</h4>
        </div>
    </section>
    <section class="content">
        <div><p>
            <img src="/assets/bar-graph.png" alt="Search" width="180" height="180"><p></p>
            <img src="/assets/pie-chart.png" alt="Search" width="280" height="180"> <p class="selected"></p>
        </div>
    </section>
</main>
</body>
</html>