<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/settings.css">
  <title>Account - StudyGrouper</title>
</head>
<body>
<nav>
  <div class="servers-container">
    <h2>Groups</h2>
    <ul class="servers">
      <li><a href="/admin/statistics">Statistics</a></li>
      <li><a href="/admin/reviews">Reviews</a></li>
      <li><a href="/admin/admin-view">Admin View</a></li>
    </ul>
  </div>
  <div class="options">
    <h2>Options</h2>
    <ul>
      <li><img src="../assets/person.png" alt="Account"> <p class="selected"><a href="/admin/account">Account</a></p></li>
      <li><img src="../assets/home.png" alt="Home"> <p><a href="/admin/home">Home</a></p></li>
    </ul>
  </div>
  <div class="logo">
    <h1>StudyGrouper</h1>
  </div>
</nav>
<main>
  <section>
    <img src="/assets/person.png" alt="PFP">
    <h1>Username</h1>
    <div>
      <form action="/edit-account" method="post" model="user">
        <input type="text" name="uID" data-th-value="${user.uID}" readonly hidden>
        <input type="text" name="accountType" data-th-value="${user.accountType}" readonly hidden>
        Title: <input type="text" name="title" data-th-value="${user.title}"><br>
        First Name: <input type="text" name="first_name" data-th-value="${user.first_name}"><br>
        Last Name: <input type="text" name="last_name" data-th-value="${user.last_name}"><br>
        Username: <input type="text" name="username" data-th-value="${user.username}"><br>
        Password: <input  type="text" name="password" data-th-value="${user.password}"><br>
        Email: <input  type="text" name="email" data-th-value="${user.email}"><br>
        <br>
        <button type="submit" class="create">Save</button>
        <br>
        <button class="delete"><a href="/home">Delete Account</a></button>
      </form>

    </div>
  </section>
</main>
</body>
</html>