<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/settings.css">
  <title>Account - StudyGrouper</title>
</head>
<body>
<nav>
  <div class="servers-container">
    <h2>Groups</h2>
    <ul class="servers">
      <li class="selected"><a href="/admin/statistics">Statistics</a></li>
      <li class="selected"><a href="/admin/reviews">Reviews</a></li>
      <li class="selected"><a href="/admin/admin-view">Admin View</a></li>
    </ul>
  </div>
  <div class="options">
    <h2>Options</h2>
    <ul>
      <li><img src="../assets/person.png" alt="Account"> <p><a href="/admin/account">Account</a></p></li>
      <li><img src="../assets/home.png" alt="Home"> <p><a href="/admin/home">Home</a></p></li>
    </ul>
  </div>
  <div class="logo">
    <h1>StudyGrouper</h1>
  </div>
</nav>
<main>
  <section>
    <img src="/assets/person.png" alt="PFP">
    <h1>Username</h1>
    <div>
      <input type="text" placeholder="Username">
      <input  type="text" placeholder="Password">
      <input  type="text" placeholder="email">
      <br>
      <button class="create"><a href="/customer/account">Save</a></button>
      <br>
      <button class="delete"><a href="/home">Delete Account</a></button>
    </div>
  </section>
</main>
</body>
</html>