<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/settings.css">
</head>
<body>
    <nav>
        <div class="servers-container">
            <h2>Groups</h2>
            <h3>Swap Account</h3>
            <ul class="servers">
                <li><a href="/student/home/2">Student</a></li>
                <li><a href="/instructor/home/0">Instructor / Tutor</a></li>
                <li><a href="/admin/home">Admin</a></li>
            </ul>
        </div>
        <div class="options">
            <h2>Options</h2>
            <ul>
                <li><img src="/assets/plus.png" alt="Login"> <p><a href="/login">Login</a></p></li>
                <li><img src="/assets/person.png" alt="Create Account"> <p><a href="/create-account">Create Account</a></p></li>
                <li><img src="/assets/home.png" alt="Home"> <p class="selected"><a href="/home">Home</a></p></li>
            </ul>
        </div>
        <div class="logo">
            <h1>StudyGrouper</h1>
        </div>
    </nav>
</body>
</html>