<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/settings.css">
  <title>Group Settings - StudyGrouper</title>
</head>
<body>
<nav>
  <div model="courses" class="servers-container">
    <h2 data-th-text="${student.first_name}"></h2>
    <ul class="servers">
        <li data-th-each="course : ${courses}"><a data-th-text="${course.groupName}" data-th-href="@{/group/student/{gID} (gID=${course.groupID})}"></a></li>
    </ul>
</div>
  <div class="options">
    <h2>Options</h2>
    <ul>
      <li><img src="/assets/search.png" alt="Add"> <p><a data-th-href="@{/group/search/{uID} (uID=${student.uID})}">Find Group</a></p></li>
      <li><img src="/assets/person.png" alt="Account"> <p><a data-th-href="@{/student/account/{uID} (uID=${student.uID})}">Account</a></p>
      <li><img src="/assets/home.png" alt="Home"> <p><a href="/home">Home</a></p></li>
    </ul>
  </div>
  <div class="logo">
    <h1>StudyGrouper</h1>
  </div>
</nav>
<main>
  <h1></h1>
  <section>
    <div>
      <h2>Group Name</h2>
      <input type="text" placeholder="Write a review">
    </div>
    <div>
      <h2>Star Rating</h2>
      <select name="" id="">
        <option value="">1 Star</option>
        <option value="">2 Stars</option>
        <option value="">3 Stars</option>
        <option value="">4 Stars</option>
        <option value="">5 Stars</option>
      </select>
    </div>
    <div>
      <button class="delete"><a href="/student/home/2">Leave Group</a></button>
    </div>
  </section>
</main>
</body>
</html>