<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/layout.css">
  <link rel="stylesheet" href="../styles/settings.css">
  <title>Group Settings - StudyGrouper</title>
</head>
<body>
<nav>
  <div class="servers-container">
    <h2>Groups</h2>
    <ul class="servers">
      <li class="selected"><a href="/customer/computer-architecture">Computer Architecture</a></li>
      <li><a href="/customer/software-engineering">Software Engineering</a></li>
      <li><a href="/customer/biology">Biology</a></li>
      <li><a href="/customer/chemistry">Chemistry</a></li>
      <li><a href="/customer/physics">Physics</a></li>
    </ul>
  </div>
  <div class="options">
    <h2>Options</h2>
    <ul>
      <li><img src="../assets/search.png" alt="Add"> <p><a href="/customer/find-group">Find Group</a></p></li>
      <li><img src="../assets/person.png" alt="Account"> <p><a href="/customer/account">Account</a></p>
      <li><img src="../assets/home.png" alt="Home"> <p><a href="/home">Home</a></p></li>
    </ul>
  </div>
  <div class="logo">
    <h1>StudyGrouper</h1>
  </div>
</nav>
<main>
  <h1></h1>
  <section>
    <div>
      <h2>Group Name</h2>
      <input type="text" placeholder="Write a review">
    </div>
    <div>
      <h2>Star Rating</h2>
      <select name="" id="">
        <option value="">1 Star</option>
        <option value="">2 Stars</option>
        <option value="">3 Stars</option>
        <option value="">4 Stars</option>
        <option value="">5 Stars</option>
      </select>
    </div>
    <div>
      <button class="delete"><a href="/customer/home">Leave Group</a></button>
    </div>
  </section>
</main>
</body>
</html>