<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/menu.css">
    <title>Chemistry - StudyGrouper</title>
</head>
<body>
    <nav>
        <div class="servers-container">
            <h2>Groups</h2>
            <ul class="servers">
                <li><a href="/student/computer-architecture">Computer Architecture</a></li>
                <li><a href="/student/software-engineering">Software Engineering</a></li>
                <li><a href="/student/biology">Biology</a></li>
                <li class="selected"><a href="/student/chemistry">Chemistry</a></li>
                <li><a href="/student/physics">Physics</a></li>
            </ul>
        </div>
        <div class="options">
            <h2>Options</h2>
            <ul>
                <li><img src="../assets/search.png" alt="Search"> <p><a href="/group/search">Find Groups</a></p></li>
                <li><img src="../assets/person.png" alt="Account"> <p><a href="/student/account">Account</a></p></li>
                <li><img src="../assets/home.png" alt="Home"> <p><a href="/home">Home</a></p></li>
            </ul>
        </div>
        <div class="logo">
            <h1>StudyGrouper</h1>
        </div>
    </nav>
    <main id="chat-page">
        <section class="group-title">
            <h1>Computer Architecture</h1>
            <a href="/student/write-review"><img src="/assets/gear.png" alt="Settings" class="gear"></a>
        </section>
        <section id="messageArea" class="message-container">
            <div class="message">
                <img src="../assets/male.png" alt="User 1">
                <div>
                    <h3>User 1</h3>
                    <p>Ipsum lorum!</p>
                </div>
            </div>
        </section>
        <form id="messageForm" name="messageForm" action="">
            <input id="message" type="text" placeholder="Type your message here...">
        </form>
    </main>
</body>
</html>