<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/settings.css">
</head>
<body>
    <nav>
        <div model="courses" class="servers-container">
            <h2 data-th-text="${student.first_name}"></h2>
            <ul class="servers">
                <li data-th-each="course : ${courses}"><a data-th-text="${course.groupName}" data-th-href="@{/group/student/{gID} (gID=${course.groupID})}"></a></li>
            </ul>
        </div>
        <div class="options">
            <h2>Options</h2>
            <ul>
                <li><img src="/assets/search.png" alt="Search"> <p><a href="/group/search">Find Groups</a></p></li>
                <li><img src="/assets/person.png" alt="Account"> <p><a href="/student/account/2">Account</a></p></li>
                <li><img src="/assets/home.png" alt="Home"> <p><a href="/home">Home</a></p></li>
            </ul>
        </div>
        <div class="logo">
            <h1>StudyGrouper</h1>
        </div>
    </nav>
</body>
</html>