<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/search.css">
    <title>Find Groups - StudyGrouper</title>
</head>
<body>
    <nav>
        <div class="servers-container">
            <h2>Groups</h2>
            <ul class="servers">
                <li><a href="/customer/computer-architecture">Computer Architecture</a></li>
                <li><a href="/customer/software-engineering">Software Engineering</a></li>
                <li><a href="/customer/biology">Biology</a></li>
                <li><a href="/customer/chemistry">Chemistry</a></li>
                <li><a href="/customer/physics">Physics</a></li>
            </ul>
        </div>
        <div class="options">
            <h2>Options</h2>
            <ul>
                <li><img src="../assets/search.png" alt="Search"> <p class="selected"><a href="/customer/find-group">Find Groups</a></p></li>
                <li><img src="../assets/person.png" alt="Account"> <p><a href="/customer/account">Account</a></p></li>
                <li><img src="../assets/home.png" alt="Home"> <p><a href="/home">Home</a></p></li>
            </ul>
        </div>
        <div class="logo">
            <h1>StudyGrouper</h1>
        </div>
    </nav>
    <main>
        <input type="text" value="art history" placeholder="Enter group name here...">
        <section>
            <hr>
            <div>
                <h2><a href="/customer/group-description">Art History - Modern Art</a></h2>
                <h4>Walter White</h4>
                <p>Learn about modern artists!</p>
            </div>
            <hr>
            <div>
                <h2><a href="/customer/group-description">Art History - Renaissance Paintings</a></h2>
                <h4>Jessie Pinkman</h4>
                <p>Learn about renaissance paintings!</p>
            </div>
            <hr>
            <div>
                <h2><a href="/customer/group-description">Art History - Sculptures</a></h2>
                <h4>Gus Fring</h4>
                <p>Learn about sculptures!</p>
            </div>
            <hr>
        </section>
    </main>
</body>
</html>