<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/search.css">
    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
    <title>Find Groups - StudyGrouper</title>
</head>
<body>
    <nav>
        <div class="servers-container">
            <h2>Groups</h2>
            <ul class="servers">
                <li><a hx-boost="true" href="/student/computer-architecture">Computer Architecture</a></li>
                <li><a hx-boost="true" href="/student/software-engineering">Software Engineering</a></li>
                <li><a hx-boost="true" href="/student/biology">Biology</a></li>
                <li><a hx-boost="true" href="/student/chemistry">Chemistry</a></li>
                <li><a hx-boost="true" href="/student/physics">Physics</a></li>
            </ul>
        </div>
        <div class="options">
            <h2>Options</h2>
            <ul>
                <li><img src="../assets/search.png" alt="Search"> <p class="selected"><a href="/group/search">Find Groups</a></p></li>
                <li><img src="../assets/person.png" alt="Account"> <p><a href="/student/account">Account</a></p></li>
                <li><img src="../assets/home.png" alt="Home"> <p><a href="/home">Home</a></p></li>
            </ul>
        </div>
        <div class="logo">
            <h1>StudyGrouper</h1>
        </div>
    </nav>
    <main>
        <form action="/group/search" method="post">
          <input type="text" name="query" id="query" placeholder="Enter group name here...">
        </form>
        <section data-th-each="group : ${studyGroups}">
            <hr>
            <a data-th-href="(@{~/group/group-description/} + ${group.groupID})">
                <div>
                    <h2 data-th-text="${group.groupName}" ></h2>
                    <h4 data-th-text="(${group.first_name} + ' ' + ${group.last_name})"></h4>
                    <p data-th-text="${group.description}"></p>
                </div>
            </a>
            <hr>
        </section>
    </main>
</body>
</html>
