<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/description.css">
    <title>Group Description - StudyGrouper</title>
</head>
<body>
    <nav>
        <div class="servers-container">
            <h2>Groups</h2>
            <ul class="servers">
                <li><a href="/customer/computer-architecture">Computer Architecture</a></li>
                <li><a href="/customer/software-engineering">Software Engineering</a></li>
                <li><a href="/customer/biology">Biology</a></li>
                <li><a href="/customer/chemistry">Chemistry</a></li>
                <li><a href="/customer/physics">Physics</a></li>
            </ul>
        </div>
        <div class="options">
            <h2>Options</h2>
            <ul>
                <li><img src="../assets/search.png" alt="Search"> <p class="selected"><a href="/customer/find-group">Find Groups</a></p></li>
                <li><img src="../assets/person.png" alt="Account"> <p><a href="/customer/account">Account</a></p></li>
                <li><img src="../assets/home.png" alt="Home"> <p><a href="/customer/home">Home</a></p></li>
            </ul>
        </div>
        <div class="logo">
            <h1>StudyGrouper</h1>
        </div>
    </nav>
    <main>
        <section class="banner">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpaperaccess.com%2Ffull%2F33694.jpg&f=1&nofb=1&ipt=ae6558cb0f62dae7fa88de396645c37f12a1af977c1b2b3e1d0fe29b29870f21&ipo=images" alt="banner">
            <div>
                <h1>Art History - Modern Art</h1>
                <h2>Learn about modern artists!</h2>
            </div>
            <button>Join Group</button>
        </section>
        <section class="content">
            <div><p>My name is Walter Hartwell White. I've been teaching art history for years and have made this group to tutor part time.</p></div>
        </section>
    </main>
</body>
</html>