<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/description.css">
    <title>Group Description - StudyGrouper</title>
</head>
<body>
    <nav>
        <div model="courses" class="servers-container">
            <h2 data-th-text="${student.first_name}"></h2>
            <ul class="servers">
                <li data-th-each="course : ${courses}"><a data-th-text="${course.getGroupID().getGroupName()}" data-th-href="@{/group/student/{gID} (gID=${course.getGroupID().getGroupID()})}"></a></li>
            </ul>
        </div>
        <div class="options">
            <h2>Options</h2>
            <ul>
                <li><img src="/assets/search.png" alt="Search"> <p><a data-th-href="@{/group/search}">Find Groups</a></p></li>
                <li><img src="/assets/person.png" alt="Account"> <p><a data-th-href="@{/student/account}">Account</a></p></li>
                <li><img src="/assets/home.png" alt="Home"> <p><a data-th-href="@{/student/home}">Home</a></p></li>
            </ul>
        </div>
        <div class="logo">
            <h1>StudyGrouper</h1>
        </div>
    </nav>
    <main>
        <section class="banner">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpaperaccess.com%2Ffull%2F33694.jpg&f=1&nofb=1&ipt=ae6558cb0f62dae7fa88de396645c37f12a1af977c1b2b3e1d0fe29b29870f21&ipo=images" alt="banner">
            <div>
                <h1 data-th-text="${groupName}"></h1>
                <h2 data-th-text="${instructor.getFullName()}"></h2>
            </div>
            <form data-th-action="(@{~/group/join/} + ${student.getuID()} + '/' + ${groupID})" method="post">
                <button type="submit">Join Group</button>
            </form>
        </section>
        <section class="content">
            <div><p data-th-text="${description}"></p></div>
        </section>
    </main>
</body>
</html>
