<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/account.css">
    <title>Account - StudyGrouper</title>
</head>
<body>
    <nav>
        <div class="servers-container">
            <h2>Groups</h2>
            <ul class="servers">
                <li><a href="/admin/statistics">Statistics</a></li>
                <li><a href="/admin/view-users">Reviews</a></li>
                <li><a href="/admin/view">Admin View</a></li>
            </ul>
        </div>
        <div class="options">
            <h2>Options</h2>
            <ul>
                <li><img src="/assets/person.png" alt="Account"> <p class="selected"><a href="/admin/account">Account</a></p></li>
                <li><img src="/assets/home.png" alt="Home"> <p><a href="/admin/home">Home</a></p></li>
            </ul>
        </div>
        <div class="logo">
            <h1>StudyGrouper</h1>
        </div>
    </nav>
    <main>
        <section>
        <img src="/assets/person.png" alt="PFP">
        <h1>Username</h1>
        <div>
            <a data-th-href="@{/edit-account/{uID} (uID=${uID})}" href="/edit-account"><button>Edit Account</button></a>
            <a href="/home"><button>Logout</button></a>
        </div>
        </section>
    </main>
</body>
</html>