<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/account.css">
    <title>Account - StudyGrouper</title>
</head>
<body>
    <nav>
        <div class="servers-container">
            <h2>Groups</h2>
            <ul class="servers">
            </ul>
        </div>
        <div class="options">
            <h2>Options</h2>
            <li><a th:href="@{/admin/home}">Admin Home</a></li>
        </div>
        <div class="logo">
            <h1>StudyGrouper</h1>
        </div>
    </nav>
    <main>
        <section>
        <img src="/assets/person.png" alt="PFP">
        <h1>Admin</h1>
        <div>
            <a data-th-href="@{/edit-account/{uID} (uID=${uID})}" href="../edit-account"><button>Edit Account</button></a>
            <a href="/home"><button>Logout</button></a>
        </div>
        </section>
    </main>
</body>
</html>