<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/settings.css">
    <link rel="stylesheet" href="/styles/menu.css">
    <title>Admin View - StudyGrouper</title>
</head>
<body>
<nav>
    <div class="servers-container">
        <h2>Groups</h2>
        <ul class="servers">
            <li><a href="/admin/statistics">Statistics</a></li>
            <li><a href="/admin/view-users">Users</a></li>
            <li class="selected"><a href="/admin/admin-view">Admin View</a></li>
        </ul>

    </div>
    <div class="options">
        <h2>Options</h2>
        <ul>
            <li><img src="/assets/person.png" alt="Account"> <p><a href="/admin/account">Account</a></p></li
        </ul>
    </div>
    <div class="logo">
        <h1>StudyGrouper</h1>
    </div>
</nav>
<main>
    <section>
        <img src="/assets/person.png" alt="PFP">
        <h1>Admin</h1>
        <div>
            <a href="/admin/view-users"><button>See Users</button></a>
            <a href="/admin/statistics"><button>See Statistics</button></a>
        </div>
    </section>
</main>

</body>
</html>