<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/settings.css">
    <title>Admin Home - StudyGrouper</title>
</head>
<body>
    <nav>
        <div class="servers-container">
            <h2>Groups</h2>
        </div>
        <div class="options">
            <h2>Options</h2>
            <ul>
                <li><img src="/assets/person.png" alt="Account"> <p><a href="/admin/account">Account</a></p></li>
            </ul>
        </div>
        <div class="logo">
            <h1>StudyGrouper</h1>
        </div>
    </nav>
    <main>
        <section>
            <img src="/assets/person.png" alt="PFP">
            <h1>Admin</h1>
            <div>
                <a href="/admin/view-users"><button>See Users</button></a>
                <a href="/admin/statistics"><button>See Statistics</button></a>
            </div>
        </section>
    </main>
</body>
</html>