<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/menu.css">
    <title>Reviews</title>
</head>
<nav>
    <div class="servers-container">
        <h2>Groups</h2>
        <ul class="servers">
            <li><a href="/admin/statistics">Statistics</a></li>
            <li class="selected"><a href="/admin/reviews">Reviews</a></li>
            <li><a href="/admin/view">Admin View</a></li>
        </ul>
    </div>
    <div class="options">
        <h2>Options</h2>
        <ul>
            <li><img src="../assets/person.png" alt="Account"> <p><a href="/admin/account">Account</a></p></li>
            <li><img src="../assets/home.png" alt="Home"> <p><a href="/home">Home</a></p></li>
        </ul>
    </div>
    <div class="logo">
        <h1>StudyGrouper</h1>
    </div>

    <main>
        <section class="group-title">
            <h1>Reviews</h1>
        </section>
        <section class="message-container">
            <div class="message">
                <img src="/assets/male.png">
                <div>
                    <h3>User1</h3>
                    <p>Review good! Good job! WOW. Amazing!</p>
                </div>
                <div>
                    <input type="image" height="30" width="30" src="/assets/check.png" onclick="return confirm('Are you sure you want to accept?')"/>
                    <input type="image" height="30" width="30" src="/assets/x-mark.png" onclick="return confirm('Are you sure you want to decline?')"/>
                </div>
            </div>
        </section>
    </main>

</nav>