<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/menu.css">
    <title>Statistics</title>
</head>
<body>
<nav>
    <div class="servers-container">
        <h2>Groups</h2>
        <ul class="servers">
            <li class="selected"><a href="/admin/statistics">Statistics</a></li>
            <li><a href="/admin/reviews">Reviews</a></li>
            <li><a href="/admin/view">Admin View</a></li>
        </ul>
    </div>
    <div class="options">
        <h2>Options</h2>
        <ul>
            <li><img src="../assets/person.png" alt="Account"> <p><a href="/admin/account">Account</a></p></li>
            <li><img src="../assets/home.png" alt="Home"> <p><a href="/home">Home</a></p></li>
        </ul>
    </div>
    <div class="logo">
        <h1>StudyGrouper</h1>
    </div>
</nav>
<main>
    <section class="banner">
        <div>
            <h1>Statistics</h1>
        </div>
    </section>
    <section class="content">
        <div>
            <p>Total Users: <span th:text="${totalUsers}"></span></p>
            <p>Total Students: <span th:text="${Students}"></span></p>
            <p>Total Instructors: <span th:text="${Providers}"></span></p>
            <p>Total Admins: <span th:text="${admins}"></span></p>
            <p>Instructor to Student Ratio: <span th:text="${instructorPercentage} + '%'"></span></p>
            <p>Percentage of users who are students: <span th:text="${sProportion} + '%'"></span></p>
            <p>Percentage of users who are instructors: <span th:text="${iProportion} + '%'"></span></p>
            <p>Percentage of users who are admins: <span th:text="${aProportion} + '%'"></span></p>
<!--            <img src="/assets/bar-graph.png" alt="Search" width="180" height="180"><p></p>-->
<!--            <img src="/assets/pie-chart.png" alt="Search" width="280" height="180"> <p class="selected"></p>-->
        </div>
    </section>
</main>
</body>
</html>