<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/statistics.css">
    <title>Statistics</title>
</head>
<body>
<nav>
    <div class="servers-container">
        <h2>Groups</h2>
        <ul class="servers">
            <li class="selected"><a href="/admin/statistics">Statistics</a></li>
            <li><a href="/admin/reviews">Reviews</a></li>
            <li><a href="/admin/view">Admin View</a></li>
        </ul>
    </div>
    <div class="options">
        <h2>Options</h2>
        <ul>
            <li><img src="../assets/person.png" alt="Account"> <p><a href="/admin/account">Account</a></p></li>
            <li><img src="../assets/home.png" alt="Home"> <p><a href="/home">Home</a></p></li>
        </ul>
    </div>
    <div class="logo">
        <h1>StudyGrouper</h1>
    </div>
</nav>
<main>
    <section class="content">
        <h1>Statistics</h1>
        <div>
            <p class="selected">Number of Students:</p>
            <p data-th-text="${students}"></p>
        </div>
        <div>
            <p class="selected">Number of Instructors:</p>
            <p data-th-text="${instructors}"></p>
        </div>
        <div>
            <p class="selected">Average Room Size:</p>
            <p data-th-text="${avg}"></p>
        </div>
    </section>
</main>
</body>
</html>