main > section {
    position: absolute;
    top: 50px; 
    left: 100px; 
    right: 100px;
    bottom: 100px;
    margin-inline: auto; 
}

section > img {
    position: absolute;
    top: 50px; 
    left: 0; 
    right: 0;
    margin-inline: auto; 
    width: 250px;
    border: solid 2px lightgrey;
    border-radius: 50%;
}

section > h1 {
    position: absolute;
    top: 300px;
    text-align: center;
    width: 100%;
}

section > div {
    position: absolute;
    background-color: whitesmoke;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px 25px;
    border-radius: 25px;
}

button {
    position: relative;
    display: block;
    background-color: lightgrey;
    color: black;
    border: black;
    font-weight: bold;
    font-size: large;
    border-radius: 25px;
    padding: 20px 30px;
    margin: 25px 0;
    width: 100%;
}

button:hover {
    background-color: black;
    color: whitesmoke;
}