@font-face {
    font-family: Roboto;
    src: url("/assets/Roboto/Roboto-Regular.ttf");
}

h1, h2, h3, h4, h5, h6, p, a, li {
    font-family: Roboto;
}

a {
    all: unset;
}

nav {
    position: fixed;
    background-color: whitesmoke;
    width: 250px;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
}

.logo {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 10px;
    color: gray;
    background-color: whitesmoke;
}

.servers-container, .options {
    position: absolute;
    background-color: whitesmoke;
    margin: 0;
    padding: 0px 35px;
    left: 0;
    right: 0;
    text-align: left;
}

.servers-container {
    top: 0;
    height: 70%;
}

.servers {
    overflow-y: scroll;
    height: 100%;
}

.options {
    bottom: 0;
    height: 30%;
    overflow-y: hidden;
}

ul {
    padding-left: 0;
}

li {
    position: relative;
    margin-bottom: 25px;
    list-style-type: none;
    cursor: pointer;
}

.selected {
    font-weight: bold;
}

li > img {
    display: inline-block;
    position: absolute;
    margin: auto;
    width: 25px;
    height: 25px;
    top: 0;
    bottom: 0;
    padding: 0;
}

li > p {
    display: inline-block;
    margin-left: 35px;
    margin-top: 0;
    margin-bottom: 0;
}

main {
    position: fixed;
    left: 250px;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
}
