main {
    background-color: darkgray;
}

main > h1 {
    color: white;
}

section {
    position: absolute;
    background-color: white;
    border-radius: 25px;
    padding: 50px 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    overflow-y: scroll;
}

input {
    border-radius: 25px;
    height: 25px;
    font-size: 18px;
    padding: 0 15px;
}

select {
    background-color: white;
    border-radius: 25px;
    height: 30px;
    font-size: 18px;
    padding: 0 15px;
}

.delete {
    background-color: white;
    color: red;
    border: solid 2px red;
    margin-top: 15px;
    font-weight: bold;
    border-radius: 25px;
    padding: 10px 20px;
}

.create {
    background-color: white;
    color: green;
    border: solid 2px green;
    margin-top: 15px;
    font-weight: bold;
    border-radius: 25px;
    padding: 10px 20px;
}
.create-account {
    background-color: white;
    color: blue;
    border: solid 2px blue;
    margin: 10px 0;
    font-weight: bold;
    border-radius: 25px;
    padding: 10px 20px;
}

.delete:hover {
    background-color: red;
    color: white;
}

p {
    display: inline-block;
}

div > a {
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.75em;
}